//
//  Dev.xcconfig
//  NewsApp
//
//  Created by Kavindu Dissanayake on 2023-08-07.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
APP_ICON = AppIcon-prod
APP_NAME = Production
BASE_URL =  https:/\/newsapi.org/v2/
API_KEY = aa3e874924da4972aaecaa0e140f68b3
BUNDLE_ID = com.news.prod

